<h3>
    Hello Its Phil</h3>
<div class="panel-body">
    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>Student Name</th>
                <th>Student ID</th>
                <th>Date Of Enrollment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.studentName}}</td>
                <td>{{student.studentId}}</td>
                <td>{{student.dateOfEnrollment}}</td>
            </tr>
        </tbody>
    </table>
</div>